# Tokens
DISCORD_TOKEN=
PG_USER=# The Postgres username
PG_PASSWORD=# The Postgres password
PG_DB=# Which DB to use
PG_HOST=# The Postgres host, e.g. localhost or postgres (if using docker)
PREFIX=,
DEBUG_LEVEL=4 # 0: None, 1: Fatal, 2: Error, 3: Warning, 4: Info, 5: Debug, 6: Trace
WATCHDOG_LEVEL=3 # 0: None, 1: Fatal, 2: Error, 3: Warning, 4: Info, 5: Debug, 6: Trace
SUGGESTION_CHANNEL_ID= # The channel id where the suggestions will be sent
LOG_TO_FILE=false
STEAM_API= # Get a steam web api key
OLLAMA_API_ENDPOINT= # Optional Ollama API endpoint, e.g. http://localhost:11434, for some fun features
OLLAMA_MODEL=mistral-nemo:12b # Recommended model, but any on ollama really works.
PROXMOX_NOTIFY_AUTH= # A secret token to authenticate Proxmox notifications to a local channel
PROXMOX_NOTIFY_CHANNEL_ID= # The channel id where Proxmox notifications will be sent
BGN_STAFF_DB_HOST= # The hostname of the BGN staff database
BGN_STAFF_DB_USER= # The username for the BGN staff database
BGN_STAFF_DB_PASS= # The password for the BGN staff database
BGN_STAFF_DB_NAME= # The database name for the BGN staff database
FINNHUB_API_KEY= # The finnhub api key for stock data
BGN_ADMIN_DB_USER= # The username for the BGN admin database
BGN_ADMIN_DB_PASS= # The password for the BGN admin database
BGN_API_KEY= # The API key for BGN
EXTERNAL_MODULES= # A comma-separated list of external modules to load by direct URL
PROXMOX_KEY= # Proxmox API Key
PROXMOX_HOST=https://<host>/api2/json/nodes/<node> # The Proxmox API endpoint