{
    "singleQuote": true,
    "semi": true,
    "quoteProps": "consistent",
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}